<!-- Obtaining value from the course controller -->
<!DOCTYPE html>
<html>

<div>
<a class="btn btn-primary" href="/"><i class="fa fa-list-alt"></i>Home</a>
<a class="btn btn-secondary" href="/students"><i class="fa fa-plus"></i> Add New Student</a> 
<a class="btn btn-secondary" href="/students/credits"><i class="fa fa-list-alt"></i> Calculate Credits</a>
</div>
<div>
    <h3 align="center">Student List</h3>
</div>



<table class="table table-striped">
<thead>
<tr>
<th>Access ID</th>
<th>First Name</th>
<th>Last Name</th>
<th>DOB</th>
<th>Category</th>
<th>Year</th>
<th>Credits</th>
<th>GPA</th>
<th>List Actions</th>
</tr>
</thead>
<tbody>
{{#each list}}
<tr align="center">
<td>{{this.accessId}}</td>
<td>{{this.firstName}}</td>
<td>{{this.lastName}}</td>
<td>{{this.dob}}</td>
<td>{{this.category}}</td>
<td>{{this.year}}</td>
<td>{{this.courseDuration}}</td>
<td>{{this.gpa}}</td>
<td>
<div class="btn-group">
  <a href="/students/{{this._id}}" class="btn btn-warning"> Edit </a>
  <a href="/students/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');" class="btn btn-danger">Delete</a>
</div>
</td>
</tr>
{{/each}}
</tbody>
</table>
</html>